* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

}

.title-for-cards {
  text-decoration: none;
}

.hero-section {
  padding: 50px;
  background-color: #05668d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.carousel-caption {
  background-color: green;
  margin-bottom: -10px;
  z-index: 100;
}

.links-and-slides {
  z-index: 2;
  background-color: whitesmoke;
}

.links-and-slides,
.three-card-section,
.additional-resources,
.business-services {
  padding: 50px 0 ;
}

.alert-card {
  background-color: white;
  color: black;
}

.card-header {
  background-color: lightsalmon;
  padding: 10px 0;
  margin: 0;
}

.navbar {
  background-color: #03425c;
  padding: 5px;
}

.border-none {
  border: none;
}

.three-card-section {
  background-color: #00a896;
}

.additional-resources{
  background-color: whitesmoke;
}

.alert-section {
  background-color: whitesmoke;
}

.business-services {
  background-color: #05668d;
  color: white;
}

.business-services a {
  color: yellow;
}

.business-services a:hover {
  color: whitesmoke;
}

.file-online-img {
  width: 75%;
  padding-left: 20%;
}


.for-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  size: 50px
}

.tabbable-responsive {
  display: block;
  min-width: 100%;
  overflow-x: auto;
}

.tabbable {
    min-width: 100%;
}

.tabbable .nav-tabs {
      white-space: nowrap;
      display: inline-block;
      min-width: 100%;
}

.tabbable .nav-tabs .nav-item {
        display: inline-block;
}

.tabbable .nav-tabs .nav-item .nav-link {
          display: inline-block;
}

#hero-title {
  size: 8px;;
}

#hero-subtitle {
  size: 18px;
}


